.landing-nav-bar {
    display: flex;
    flex-direction: row;
    z-index: 999;
    width: 100vw;
    padding: 25px;
    justify-content: center;
    position: fixed;
    background: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.2);
 }

 .landing-nav-bar-content {
   color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
 }
 
 .landing-nav-buttons {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 30vw;
 }

 .landing-nav-bar-menu {
    display: flex;
    flex-direction: column;
    padding: 5%;
 }