.landing-nav-bar {
    display: flex;
    flex-direction: row;
    z-index: 999;
    width: 100vw;
    padding: 25px;
    justify-content: center;
    position: fixed;
    background: rgb(45, 45, 45);
 }

 .landing-nav-bar-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95vw;
 }
 
 .landing-nav-buttons {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 30vw;
 }

 .landing-nav-bar-menu {
    display: flex;
    flex-direction: column;
    padding: 5%;
 }