.text-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    max-height: 100vh;
    min-height: 80vh;
    overflow: hidden;
    padding-top: 10vh;
    padding-bottom: 10vh;
}