.game-2 {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#Record {
    width: 200px;
    height: 60px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    margin: 0;
}

button {
    width: 120px;
    height: 40px;
    margin: 0 5px;
}