.landing-join-section {
    position: relative; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: clamp(350px, 50vw, 1000px);
    margin-top: 25vh;
    height: clamp(300px, 50vh, 1000px);
    overflow: hidden; 

}

